APP_NAME=LiquoreStore
APP_ENV=local
APP_KEY=base64:cALqL7m+Pu3P5iHPNCJEuDaUL9vJyKur/8OWD7lr3Uc=
APP_DEBUG=true
APP_URL=http://localhost

Admin_email = phat.x.luong@gmail.com

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=Projectsem2ver5
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

QUEUE_DRIVER=database

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

GOOGLE_CLIENT_ID=232625393815-dmchi5mcc8tqb1btdto2ms3arlbktn36.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=JwFP81i1rLToZsBxz_di4FWK

FACEBOOK_CLIENT_ID=854391765144921
FACEBOOK_CLIENT_SECRET=dd5e863fdff2221f40e663e42169c0ac

TWITTER_CLIENT_ID=YgBHagtMNsHkiPgI95oQWDs3H
TWITTER_CLIENT_SECRET=BGH5EFJOVO2I0KG7LEPYJ3WrUqTFFzOYVeqACaY28JAqXx7uCh

GITHUB_CLIENT_ID=bee63aea4069752005c0
GITHUB_CLIENT_SECRET=822d4f9e44586c709fa0874403951bcf5773947e

DEBUGBAR_ENABLED=true

RECAPTCHAV3_SITEKEY=6Le1MOAaAAAAAEdGiAC65G7wzHfx-jd4o5pCbdrX
RECAPTCHAV3_SECRET=6Le1MOAaAAAAAA6_TsphKkaZsLK-uwBV3gPUT17e